<h2>Add Discount</h2>


<%= form_with model: [@merchant, BulkDiscount.new], data: {turbo: false} do |form| %>
  <p><%= form.label "Percent Discount" %>
  <%= form.text_field :percentage %></p>
  <p><%= form.label "Quantity Needed" %>
  <%= form.text_field :quantity %></p>
  <%= form.submit "Submit" %>
  <% end %>

  <%= link_to "Back to dashboard", merchant_dashboard_index_path(@merchant) %>